@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.navbar {
  margin-top: 20px;
  background: rgb(235, 188, 4);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  overflow: hidden;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: transform 0.3s ease, width 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1000;
  position: fixed;
  top: 0;
  padding: 10px 20px;
}

.navbar:hover {
  transform: scale(1.1);
  width: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.logo {
  padding: 7px 10px;
  font-family: 'orbitron', sans-serif;
  font-size: 28px;
  color: #ffffff;
  font-weight: 570;
  letter-spacing: 2px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  font-family: 'orbitron', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 10px 30px;
}

.navbar li:hover {
  transform: scale(1.3);
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: none;
  color: blueviolet;
  font-weight: bold;
}



.leftMenu ul, .rightMenu ul {
  display: flex;
  list-style: none;
  
}

.leftMenu ul li, .rightMenu ul li {
  margin-right: 15px;
}

.leftMenu ul li a, .rightMenu ul li a {
  color: #ffffff;
  text-decoration: none;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.active a {
  color:  blueviolet;
  font-weight: bolder;
 
}

.leftMenu ul li.active a, .rightMenu ul li.active a {
  color: blueviolet;
  font-weight: bold;
  
}

.footerNav {
  display: none;
}

.footerNav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.footerNav ul li a {
  color: #ffffff;
  font-size: 1.5rem;
}

.footerNav .active a {
  color:  blueviolet;
}


@media (max-width: 1000px) {
  .leftMenu, .rightMenu {
    display: none;
  }

  .footerNav {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
}


